@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-image: url( "https://wallpapers.com/images/hd/hacker-background-yf4qfm0zurappf4e.jpg");
    
    padding-top: 100px;

}
.back{
 background: rgba(47, 3, 47, 0.6);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12.5px );
-webkit-backdrop-filter: blur( 12.5px );
border-radius: 10px;
border: 2px solid rgba(213, 245, 5, 0.959);
}